.tiptap.ProseMirror {
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  >img:not([data-type="emoji"] img) {
    margin: 2rem 0;
    outline: 0.125rem solid transparent;
    border-radius: var(--tt-radius-xs, 0.25rem);
  }

  img:not([data-type="emoji"] img).ProseMirror-selectednode {
    outline-color: var(--tt-brand-color-500);
  }

  // Image alignment support
  img[data-align="left"] {
    margin-left: 0;
    margin-right: auto;
  }

  img[data-align="center"] {
    margin-left: auto;
    margin-right: auto;
  }

  img[data-align="right"] {
    margin-left: auto;
    margin-right: 0;
  }

  // Custom width support
  img[width] {
    width: attr(width);
  }

  // Thread image handling
  .tiptap-thread:has(> img) {
    margin: 2rem 0;

    img {
      outline: 0.125rem solid transparent;
      border-radius: var(--tt-radius-xs, 0.25rem);
    }
  }

  .tiptap-thread img {
    margin: 0;
  }
}