@import "tailwindcss";
@import './styles/_variables.scss';
@import './styles/_keyframe-animations.scss';
@plugin "@tailwindcss/typography";


.editcrafter {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.editcrafter a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

.editcrafter a:hover {
  color: #535bf2;
}

.editcrafter h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.editcrafter button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.editcrafter button:hover {
  border-color: #646cff;
}

.editcrafter button:focus,
.editcrafter button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  .editcrafter a:hover {
    color: #747bff;
  }
}

@layer base {
  .prose p {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
  }
}
.prose{
  max-width: none;
  color: var(--text-primary);
}